.name1 {
    /* // 单行文本出现省略号 */
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}

.name2 {
    /* // 多行文本出现省略号 */
    display: -webkit-box;
    /*重点，不能用block等其他，将对象作为弹性伸缩盒子模型显示*/
    -webkit-box-orient: vertical;
    /*从上到下垂直排列子元素（设置伸缩盒子的子元素排列方式）*/
    -webkit-line-clamp: 3;
    /*行数，超出三行隐藏且多余的用省略号表示...*/
    line-clamp: 3;
    word-break: break-all;
    overflow: hidden;
    max-width: 100%;
}

/* 设置input占位符的样式 */
input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: red;
}

input::-moz-placeholder {
    /* Firefox 19+ */
    color: red;
}

input:-ms-input-placeholder {
    /* IE 10+ */
    color: red;
}

input:-moz-placeholder {
    /* Firefox 18- */
    color: red;
}

/* 去除input边框 */
input {
    border: none;
    outline: none;
}

/* 相邻兄弟选择器之常用场景 */
li+li {
    border-top: 1px solid red;
}

/* outline不计算大小 border计算大小 */